<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <% if user_signed_in? %>
      <div>
        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
      </div>
      <div>
        <%= link_to "ユーザ一覧表示", users_path %> |
        <%= link_to "本一覧表示", books_path %> |
        <%= link_to "アカウント表示", user_path(current_user) %>
      </div>
    <% end %>
  </header>

  <body class="<%= params[:action] %>">
    <%= yield %>
  </body>
</html>
